.components-page {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
}


.noData {
  width: 100vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .icon {
    font-size: 150px;
    margin-top: 150px;
    color: #eee;
  }

  .noDataText {
    width: 80%;
    width: 80%;
    font-size: 28rpx;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    .buttom {
      font-size: 30rpx;
      color: #0085f9;
    }
  }
}


.table_wrap {
  width: 100vw;
  flex: 1;
  overflow: auto;

  .left {
    text-align: left;
    padding-left: 5px;
  }

  .leftTd {
    .left;
    background-color: #fff;
    z-index: 999;
    position: sticky;
    left: 0;
    padding-left: 24px;

  }

  .right {
    text-align: right;
  }


  .leftHeader {
    .left;
    font-weight: bold;
    z-index: 99999;
  }

  .rightHeader {
    .right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
  }

  .up {
    color: #f56c6c;
    font-weight: bold;
  }

  .down {
    color: #4eb61b;
    font-weight: bold;
  }



  .tr {
    width: 1500px;
    display: flex;
    height: 80px;
  }

  .th {
    font-size: 32px;
    align-items: center;
    display: flex;
    padding-right: 24px;
    background: #fff;
  }

  .td {
    padding-right: 24px;
    font-size: 28px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  /* 表格th/td样式 */
  .td,
  .th {
    /*超出长度...*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;

  }

  .thead {
    position: sticky;
    top: 0;
    z-index: 9999999;
  }

  /* 表头固定 */
  .thead .tr .th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }


  /* 首列固定/最后一列固定*/
  .th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    right: 0;
    flex-shrink: 0;
    z-index: 99999;
    background-color: #fff;
    padding-left: 24px;
  }
}


.bottomRow {
  display: flex;
  align-items: center;
  height: 100px;
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 0;
  width: 100vw;

  .bottomRow-left {
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #eee;
  }

  .bottomRow-right {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding-right: 20px;

    .gains {
      padding-right: 20px;
      text-align: end;
    }

    .fontSize {
      font-size: 22px;
      color: #eee;
      line-height: 40rpx;
    }

    .btn-up {
      font-size: 40px;
      line-height: 40rpx;
      color: #f56c6c;
      border-color: #f56c6c;
      font-weight: bold;
    }

    .btn-down {
      font-size: 40px;
      line-height: 40rpx;
      color: #4eb61b;
      border-color: #4eb61b;
      font-weight: bold;
    }
  }

}


.leftIcon {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  font-size: 48px;
}

.gray {
  color: gray;
}

.redHeart {
  color: red;
}


.rightIcon {
  font-size: 28px;
}

.fabButtom {
  position: absolute;
  right: 40px;
  bottom: 150px;
  background-color: #85b9e6;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  .child {
    font-size: 40rpx;
    padding-right: 5rpx;
  }
}

// @import "../../../node_modules/taro-ui/dist/style/components/action-sheet.scss"; 
