.components-page {
  flex: 1;
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: row;
}




.table_wrap {
  width: 100vw;
  height: 400px;
  overflow: auto;
  border-bottom: 1px solid #61dafb;
  position: fixed;


  .tr {
    width: 1500px;
    display: flex;
    height: 60px;
  }

  /* 表格th/td样式 */
  .td,
  .th {
    width: 150px;
    box-sizing: border-box;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    /*超出长度...*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  .thead {
    position: sticky;
    top: 0;
    background: red;
    z-index: 999;
  }

  /* 表头固定 */
  .thead .tr .th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #F4F4F5;

  }


  /* 首列固定/最后一列固定*/
  .th:first-child{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: #F4F4F5;
    text-align: center;
    right: 0;
    border-left: 1px solid #DDDDDD;
    width: 100px;
    flex-shrink: 0;
  }

  /* 表头首列和最后一列强制最顶层 */

  .th:first-child {
    z-index: 3;
    /*左上角单元格z-index，切记要设置，不然表格纵向横向滚动时会被该单元格右方或者下方的单元格遮挡*/
    background: #F4F4F5;
  }

}
