@font-face {
    font-family: "iconfont"; /* Project id 2460107 */
    src: url('./assets/iconfont.woff2?t=1644483583159') format('woff2'),
         url('./assets/iconfont.woff?t=1644483583159') format('woff'),
         url('./assets/iconfont.ttf?t=1644483583159') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .iconxiai:before {
    content: "\e60b";
  }
  
  .iconyoubian:before {
    content: "\e79a";
  }
  
  .iconchakan:before {
    content: "\e642";
  }
  
  .iconcaozuojilu:before {
    content: "\e61e";
  }
  
  .iconshezhi:before {
    content: "\e60d";
  }
  
  